################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/LoginMVC/.vs/LoginMVC/v16/Server/sqlite3/db.lock
/IdentityTest/.vs/IdentityTest/v16/Server/sqlite3/db.lock
