@{
    ViewData["Title"] = "Logged";
}

<h1 class="text-success">Congratulations.</h1>
<h2 class="text-success">You are logged correctly.</h2>
<p>You can change this Home page route in Controllers/LoginController.cs</p>

